/* Here you can have overrides, helpers, utilities, and specific classes that affect single pieces of the DOM, like, .hidden, .relative, .one-half, etc.

Because we need to override settings coming from other layers, this is the only place where !important is permitted. */
/* Flex Helpers */
.flex{
  display: flex;
}

.flex--wrap{
  flex-flow: wrap;
}

.flex--row-column{
  flex-direction: column;
}

.flex--center{
  justify-content: center;
}

.flex--space-between{
  justify-content: space-around;
}

.flex--align-space-around{
  align-content: space-around;
}

/* Text Helpers */
.text-center{
  text-align: center;
}

/* Spacing */
.margin-top--1{
  margin-top: 1em;
}

.margin-bottom--1{
  margin-bottom: 1em;
}

.margin-y--1{
  margin: 1em 0;
}

.padding--half{
  padding: .5em;
}
.padding--1{
  padding: 1em;
}

.padding-y--1{
  padding: 1em 0;
}

/* ====== Links====== */