/* ==========MODULES================= */
.body__copy{
  margin-top: 3rem;
  text-align: center;
}

.body__copy h1, .body__copy h2, .body__copy h3{
  margin-bottom: 1rem;
}

.body__copy p{
  margin-bottom: 1rem;
}