/* =============SECTION-2==================== */
@media(min-width:1024px){
  .section-2__copy{
    margin-top: 5rem;
  }
}

@media(min-width:1024px){
  .section-2__copy{
   align-self: top;
   margin-left: 5rem;
  }
}


